{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-md-4 card p-4 shadow-sm">
    <h4 class="text-center mb-3">Admin Login</h4>

    {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="post">
      <input
        type="password"
        name="password"
        class="form-control mb-3"
        placeholder="Admin Password"
        required
      >
      <button class="btn btn-dark w-100">Login</button>
    </form>
  </div>
</div>

{% endblock %}
